@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ошибка</title>
</head>
<body style="background-color: red; margin: 0; padding: 8px; text-align: center; color: white;">
    <div style="font-size: 36pt;">Что-то пошло не так</div>
    <a href="/">На главную</a>
</body>
</html>
