@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Первая страница</title>
</head>
<body>
    <img src="~/Content/aspnet.png" />
    <br />
    <a href="/Demo/B">На другую страницу</a>
</body>
</html>
