@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Прием картинок</title>
    <link rel="stylesheet" href="~/Content/site.css" />
</head>
<body>
    <h2>Прием картинок</h2>
    <div>Загружайте картинку сюда:</div>
    <input type="file" name="picture" id="picture" />
    <br />
    <div id="result"></div>
    <script type="text/javascript" src="~/Scripts/main.js"></script>
</body>
</html>
