@model TimeSpan
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Session timing</title>
</head>
<body>
    <div>
        @Model.TotalMilliseconds milliseconds since your last request. 
    </div>
</body>
</html>
